/* Variables */

/* Red gradient */
gradient-color-top-left-nav = #aa1622
gradient-color-bot-left-nav = #5a0c12
left-nav-gradient()
  background: gradient-color-top-left-nav
  background: -moz-linear-gradient(top, gradient-color-top-left-nav 0%, gradient-color-bot-left-nav 100%)
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,gradient-color-top-left-nav), color-stop(100%,gradient-color-bot-left-nav))
  background: -webkit-linear-gradient(top, gradient-color-top-left-nav 0%,gradient-color-bot-left-nav 100%)
  background: -o-linear-gradient(top, gradient-color-top-left-nav 0%,gradient-color-bot-left-nav 100%)
  background: -ms-linear-gradient(top, gradient-color-top-left-nav 0%,gradient-color-bot-left-nav 100%)
  background: linear-gradient(top, gradient-color-top-left-nav 0%,gradient-color-bot-left-nav 100%)
  
/* Grey gradient */ 
gradient-color-top-channel-list = #9e9e9e
gradient-color-bot-channel-list = #676767

/* Styles */
body
  color #333
  background-color #dadada
  height 100%
  background-image:url('/assets/images/common/textures/broadcast-body-bg.png')
  background-repeat repeat

h1
  margin-top: 40px
  margin-bottom: 60px

h2
  margin: 0.8em 0

a
  color: #000

a:hover
  color: gradient-color-top-left-nav

table
  thead
    th
      font-weight: bold

#container
  width 1280px
  height 100%

// left column

.broadcast-title
  padding-left: 80px
  font-size: 36px
  color: #cbcbcb
  text-shadow: 0px -2px 0px #000
  filter: dropshadow(color=#000, offx=0, offy=-2)

.broadcast-sub-title
  display: block
  font-size: 26px
  color: #808080

#navigation
  position: fixed
  background-image: url('/assets/images/common/textures/left-col-bg.png')
  background-repeat: repeat y
  width: 335px
  background-color: #000
  min-height: 100%
  height: auto
  z-index: 10
  
  nav
    position: absolute
    top: 160
    left: 125px
  
  nav a
    text-decoration: none
    color: #808080
    font-size: 20px
    font-weight: bold
    line-height: 45px
    text-align: right
    text-transform: lowercase
    background-color: #000
    position: relative
    display: inline-block
    width: 196px
    height: 45px
    margin: 0 0 5px 0
    padding-right: 14px
  
  nav a:hover
    left-nav-gradient()
    color: #fff

body.dashboard #navigation-dashboard,
body.channels #navigation-channels,
body.channel-sets #navigation-channel-sets
  a
    color #fff
    text-shadow: 0px -1px 0px #000
    filter: dropshadow(color=#000, offx=0, offy=-1)
    left-nav-gradient()
    z-index 1
    
    &:after
      content: ''
      position: absolute
      top: 6px
      bottom: 8px
      left: 193px
      height 33px
      width 33px
      -moz-transform: rotate(-45deg)
      -webkit-transform: rotate(-45deg)
      -o-transform: rotate(-45deg)
      -ms-transform: rotate(-45deg)
      transform: rotate(-45deg)
      z-index -1
      background-image: -webkit-gradient(linear,left bottom,right top,from(gradient-color-bot-left-nav),to(gradient-color-top-left-nav))
      background-image: -moz-linear-gradient(45deg, gradient-color-bot-left-nav, gradient-color-top-left-nav)

// main content area
#main
  position: absolute
  top: 0
  width: 930px
  left: 392px
  padding-bottom: 40px
  
  h2
    font-size: 60px
    text-shadow: 0px 1px 0px #fff
    filter: dropshadow(color=#fff, offx=0, offy=-1)

header
  overflow: hidden
  margin-bottom: 10px
  
  h3
    float: left
    margin: 0
    font-size: 24px
    text-shadow: 0px 1px 0px #fff
    filter: dropshadow(color=#fff, offx=0, offy=-1)
  
  .button
    float: right

a.action
  background-image: url('/assets/images/common/buttons/admin.png')
  background-repeat: no-repeat
  height: 16px
  width: 15px
  margin-right: 6px
  display: inline-block

a.action:last-child
  margin-right: 0

a.remove
  background-position: -35px top
  width: 14px

a.add
  background-position: -69px top
  width: 14px

// footer

footer
  overflow: hidden
  
  .pagination
    font-size: 14px
    font-weight: bold
    line-height: 42px
    float: left
  
  .buttons
    float: right
    
    .prev
      border-right: 1px solid #000
    
    .next
      border-left: 1px solid #4a4a4a

// data list table

.data-list
  width: 100%
  
  th
    padding: 10px 20px
    background: gradient-color-top-channel-list
    background: -moz-linear-gradient(top, gradient-color-top-channel-list 0%, gradient-color-bot-channel-list 100%)
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,gradient-color-top-channel-list), color-stop(100%,gradient-color-bot-channel-list))
    background: -webkit-linear-gradient(top, gradient-color-top-channel-list 0%,gradient-color-bot-channel-list 100%)
    background: -o-linear-gradient(top, gradient-color-top-channel-list 0%,gradient-color-bot-channel-list 100%)
    background: -ms-linear-gradient(top, gradient-color-top-channel-list 0%,gradient-color-bot-channel-list 100%)
    background: linear-gradient(top, gradient-color-top-channel-list 0%,gradient-color-bot-channel-list 100%)
    color: #fff
    font-weight: bold
    text-align: center
    text-shadow: 0px -1px 0px #000
    filter: dropshadow(color=#000, offx=0, offy=-1)
    border-left: 1px solid #5d5d5d
  
    &.actions
      width: 100px
    
    &.timeout
      width: 100px
  
  th:first-child,
  td:first-child
    border: none
  
  tr
    background-color: #f2f2f2
  
  tr:nth-child(even)
    background-color: #ededed
  
  td
    padding: 10px 20px
    text-align: center
    border-left: 1px solid #d9d9d9
    max-width: 365px
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis

// forms

form
  input, select
    font-size: 16px
    display: block
    padding: 5px
  
    &.full
      width: 100%
  
  input
    width: 170px
    border: 1px solid #aaa
    border-radius: 5px
    box-shadow: inset 0 0 5px rgba(0,0,0,0.15)
    
    &:focus
      outline: 0
    
    &.small
      width: 85px
    
    &.large
      width: 300px
  
  label
    font-weight: bold
    display: block
    margin-bottom: 15px

// channels

#channels-read
  .data-list
    .title, .url
      text-align: left

// channel sets

#channel-set-form
  .channel
    label
      margin-right: 15px
      float: left
    
    select
      margin: 7px 0

// utilities

.clearfix:before,
.clearfix:after
  content: ""
  display: table

.clearfix:after
  clear: both

.clearfix
  *zoom: 1
