body
 color #fff
 font-family arial
 padding 0
 margin 0
 background-color #dadada
 height 100%
 background-image:url('/assets/images/common/textures/broadcast-body-bg.png');
 background-repeat repeat
 

#container
 width 1280px
 height 100%

#left-column
 position absolute
 background-image:url('/assets/images/common/textures/left-col-bg.png');
 background-repeat repeat y
 width 335px
 background-color #000
 min-height 100%
 height auto

ul#left-nav li a
 text-decoration:none
 color #808080
 font-size 20px

ul#left-nav li
 list-style-type none
 padding 0
 margin 0
 float right
 position relative
 display inline-block
 width 196px
 height 50px
 text-align right
 background-color #000
 line-height 3em
 margin 0 0 5px 0
 padding-right 12px
 

ul#left-nav
 margin 0

#channel-right-column
 position relative
 bottom 189px
 width auto
 left 335px
 border-style solid 1px
 border-style solid
 border-width 1px
 border-color 000
 

.broadcast-title
  padding-left:80px;
  font-family Helvetica
  font-size 36px
  color #cbcbcb
  font-weight 500

span.broadcast-sub-title
  display block
  font-family Helvetica
  font-size 26px
  color #808080
  font-weight 500