transition(args...)
  transition args
  -o-transition args
  -moz-transition args
  -webkit-transition args

transition-delay(args...)
  transition-delay args
  -o-transition-delay args
  -moz-transition-delay args
  -webkit-transition-delay args

transition-duration(args...)
  transition-duration args
  -o-transition-duration args
  -moz-transition-duration args
  -webkit-transition-duration args

transition-property(args...)
  transition-property args
  -o-transition-property args
  -moz-transition-property args
  -webkit-transition-property args

transition-timing-function(args...)
  transition-timing-function args
  -o-transition-timing-function args
  -moz-transition-timing-function args
  -webkit-transition-timing-function args

