h1= "Server Go Boom!"
p
  | Something bad on our side, likely the result of something you did on your
  | side, caused a serious issue, jerk. An email hasn’t been sent out nor have
  | any of our webmasters been notified.
if (referrer)
  a.button.button-simple(href=referrer)= "Go Back"
