!!! 5
html(lang="eng")
  head
    title="Broadcast"
    link(href="/stylesheets/broadcast.css", rel="stylesheet")
    link(href="/favicon.png", rel="icon")
  body(id=pageName, class="error")
    #message
      != body
